/* Globales */
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;

  font-family: "Play", sans-serif;
  color: #000;
}
h1 {
  color: #fff;
  font-size: 30px;
  font-weight: bolder;
}
.icon-cart {
  width: 40px;
  height: 40px;
  stroke: #fff;
}

.icon-cart:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50vh;
  background-image: url("https://images.unsplash.com/photo-1589833607132-8fc8e05a2b07?q=80&w=2060&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center calc(50% + 10px);
  background-size: cover;

  margin-bottom: 10%;
}
nav {
  display: flex;

  gap: 1.8rem;
  a {
    color: #fff;
    padding: 0.6rem;
    font-family: "Play", sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: filter 0.25s;
    font-size: 20px;
    &.button {
      padding: 0.6rem 5rem;
    }

    &:hover {
      filter: brightness(0.6);
    }
  }
}
.header-content {
  display: flex;

  justify-content: space-between;
  width: 70%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 20px;
  height: 8vh;
  border-radius: 10px;

}

.container-icon {
  position: relative;
}

.count-products {
  position: absolute;
  top: 55%;
  right: 0;

  background-color: #1d1d1f;
  color: #fff;
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#contador-productos {
  font-size: 12px;
}

.container-cart-products {
  position: absolute;
  top: 50px;
  right: 0;

  background-color: #fff;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.titulo-producto-carrito {
  font-size: 20px;
}

.precio-producto-carrito {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.cantidad-producto-carrito {
  font-weight: 400;
  font-size: 20px;
}

.icon-close {
  width: 25px;
  height: 25px;
}

.icon-close:hover {
  stroke: red;
  cursor: pointer;
}

.cart-total {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

.cart-total h3 {
  font-size: 20px;
  font-weight: 700;
}

.total-pagar {
  font-size: 20px;
  font-weight: 900;
}

.hidden-cart {
  display: none;
}

/* Main */
.container-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
  border-radius: 10px;
  padding: 50px;
  margin-bottom: 10%;
}

.item {
  border-radius: 10px;
  background-color: #1d1d1f;
}

.item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s;
}

.item figure {
  overflow: hidden;
}

.item:hover img {
  transform: scale(1.2);
}

.info-product {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
}

.price {
  font-size: 18px;
  font-weight: 900;
}

.info-product button {
  border: none;
  background: none;
  background-color: rgba(255, 255, 255, .1);
  font-weight: bold;
  font-family: "Play", sans-serif;
  color: #fff;
  padding: 15px 10px;
  cursor: pointer;
  border-radius: 10px;
}

.cart-empty {
  padding: 20px;
  text-align: center;
}

.hidden {
  display: none;
}

.clearAll {
  border: none;
  background-color: #1d1d1f;
  color: #fff;
  padding: 15px 0;
  display: block;
  width: 100%;
  margin-top: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.clearAll:hover {
  transform: scale(1.03);
  border-radius: 0;
}

.footer-container{
  color: #fff;
  background-color: #1d1d1f;
  width: 100%;
  height: 30vh;
  
  h1{
    text-align: center;
    margin-top: 10px;
    letter-spacing: 5px;
  }
}
.contain-footer{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  border-bottom: solid 1px ;
}
.contact-info p{
  margin-top: 10px ;
}

.useful-links ul{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
  font-size: 20px;
}

.legal ul{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  
  a{
    color: #fff;
    text-decoration: none;
  }
}

@media screen and (max-width: 1024px) {
  .header-content {
    width: 90%; /* Ajusta el ancho del header-content para resoluciones más pequeñas */
  }

  .container-items {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media screen and (max-width: 768px) {
  .container-items {
    grid-template-columns: repeat(1, 1fr); 
  }
}